.logo {
  width: 50vh;
}

.navbar-button:hover {
  background-color: rgb(221, 220, 229);
}

.navbar-button:focus {
  list-style-type: none;
  overflow: hidden;
}

a {
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    padding: 14px 16px;
    margin-top: 50px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(48, 60, 124);
}

